<h3>
Dear User,
</h3>

Click over below link to download driver.
<br><br>
Driver detail is as below.
<br><br>
{{#DriverList}}

<ul>
<li><b>Product Id:-</b>{{ProductId}} </li>
<li>Product Name:-{{ProductName}} </li>
<li>Product Model:-{{ProductModel}} </li>
</ul>

<br><br>
Driver URL:- <br/>
<a href= {{DriverURL}}>{{DriverURL}}</a>

<br><br>




<br>
Support Team
<br>
BayLan / Taiwan.
<br><br>


{{/DriverList}}